.resultado {
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}
.calculadora {
    width: 300px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.calculadora input, .calculadora select, .calculadora button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    padding: 8px;
    font-size: 16px;
}

.calculadora button {
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.calculadora button:hover {
    background-color: #45a049;
}

